/* Active Style Start */
.active-three .menubar .menu-wrap > li:-webkit-any(:hover, :focus, .focus, .active) > a {
    color: #ff6a3e;
}
.active-three .menubar .menu-wrap > li:-webkit-any(li,.dropdown) > a:after {
    border-bottom-color: #ff6a3e;
}

/* --/-- */

.single-icon .spin-circle:after,
.single-icon:after,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button,
.mobile-menu-right .header-search-toggle,
.blog-post .more-link,
.blog-post .read-more-link,
.header-search-popup .search-submit,
.close-style,
.menu-toggle,
.mobile-menu .dropdown > .mobi_drop > button,
.mobile-menu .dropdown.current > .mobi_drop button,
.section-title h2 span:not(.customize-partial-edit-shortcut),
.boxed-btn,
.preloader,
.header-above,
.cart-icon .cart-icon-wrapper i,
.mean-container a.meanmenu-reveal,
#search,
.service-box .devider,
.features-box h3:before,
.sorting-btn li a.active:before,
.sorting-btn li a:before,
.project figure:after,
.gallery-items div.single-item a div i,
.purchase-btn,
.popular-text,
.testimonial-carousel .owl-dot.active,
.panel-heading a:before,
.meta-info,
#latest-news .post-content:before,
#latest-news .blog-post:hover .boxed-btn:before,
.section-before-border:before,
.what-we-do .devider,
.progress .progress-bar,
.page-link:hover,
.page-item.next .page-link,
.page-item.prev .page-link,
.post-new-comment .boxed-btn,
.subscribe-wrapper button,
.scrollup.boxed-btn,
button.subscribe-btn,
.widget_search button,
.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.search-icon i,
.widget-enter-mail,
.pagination .nav-links .page-numbers.current,
.pagination .nav-links .page-numbers:hover,
.pagination .nav-links .page-numbers:focus,
.woocommerce table.shop_table th,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.wpcf7-form .wpcf7-submit,
.comment-respond .form-submit input,
table th {
    background: #ff6a3e;
}

.ameya-template .features-box-icon i,
.widget_contact_widget li i,
.header .widget_nav_menu .menu > li:hover > a,
.header .widget_nav_menu .menu > li.focus > a,
.mobile-menu .menu-wrap li.active > a,
.mobile-menu .menu-wrap li.current > a,
.mobile-menu .menu-wrap li > a:focus,
.mobile-menu .menu-wrap li > a:hover,
.cart-remove.deft-remove-icon a,
.header-slider h1 span,
.contact-wrapper i,
.purchase-btn i,
.popular-plan h2,
.single-testimonial i,
.blog-post:hover .post-title a,
.blog-post .post-title a:focus,
.blog-post .post-title a:hover,
.copyright-text a,
.copyright a,
.payment-method a i:hover,
#breadcrumb-area ul li a,
.portfolio-post:hover .post-content .post-title a,
.masonary-meta-info li a:hover,
.comment-reply,
#contact-info .single-box i,
.coming-soon-wrapper h1 span,
.count-area ul li,
.widget a:hover,
.widget a:focus,
li.latest-news:hover h5,
.menu-primary-container ul li a:hover,
.menu-primary-container ul li:hover:before,
.recent-post:hover h6,
.days li .active,
.author-meta-det h6 a, .blog-author-social li i,
.widget_recent_entries ul li a:hover,
li.recentcomments a:hover,
.reply a, .comment-metadata time, .edit-link a,
.price span.woocommerce-Price-amount.amount,
.comment-respond .comment-reply-title,
.post-comment-area .media,
p.logged-in-as a,
#wp-calendar td a,a,
.site-first-letter,
.site-last-letter,
em, cite, q {
    color: #ff6a3e;
}

.contact-wrapper,
.header-search-popup form .search-field:hover,
.header-search-popup form .search-field:focus,
.mobile-menu-right .header-search-toggle,
.mobile-menu-right .cart-icon-wrap #cart,
.menu-toggle, .testimonial-carousel .owl-dot.active,
.header-close-menu,
.single-partner a:hover,
.single-partner a:focus,
.page-link:hover,
.page-item.next .page-link,
.page-item.prev .page-link,
.days li .active,
.header-slider .owl-thumbs.active,
#wp-calendar td a {
    border-color: #ff6a3e;    
}

